---
import { Image } from "astro:assets";
import { getDirectusPublicUrl } from "../../lib/config";
const { product } = Astro.props;
const directusPublicUrl = getDirectusPublicUrl();

import { Weight, Tag, Calendar, Factory } from "lucide-react";

const highlights = [
  {
    label: "Tahun",
    value: product.year || "N/A",
    icon: Calendar,
  },
  {
    label: "Produsen",
    value: product.manufacturer || "N/A",
    icon: Factory,
  },
  {
    label: "Kapasitas",
    value: product.capacity || "N/A",
    icon: Weight,
  },
  {
    label: "Kategori",
    value: product.category || "N/A",
    icon: Tag,
  },
];
---

<li class="bg-white shadow overflow-hidden lg:border-transparent lg:border-r-4">
  <a
    href={`/products/${product.slug}`}
    class="relative isolate flex flex-col gap-8 lg:flex-row"
  >
    <div class="relative aspect-[4/3] lg:w-72 lg:shrink-0 overflow-hidden">
      {
        product.image ? (
          <Image
            src={`${directusPublicUrl}/assets/${product.image}`}
            alt={product.product_name}
            width={600}
            height={450}
            format="webp"
            class="absolute inset-0 size-full bg-gray-50 object-cover group-hover:scale-110 transition-transform duration-500"
          />
        ) : (
          <div class="absolute inset-0 text-gray-400 size-full bg-gray-100 flex flex-col gap-4 items-center justify-center">
            <span class="text-gray-400 font-bold italic">No Image</span>
          </div>
        )
      }
    </div>
    <div class="flex flex-col items-start lg:py-4 grow px-6 max-lg:pb-8">
      <div
        class="relative xxl:flex xxl:items-start xxl:gap-4 xxl:justify-between w-full"
      >
        <div class="mb-4 lg:mb-6">
          <h2 class="text-xl lg:text-2xl font-bold line-clamp-2 tracking-tight">
            {product.product_name}
          </h2>
          <div
            class="text-base mt-2 line-clamp-3 prose-slate prose"
            set:html={product.shortdesc?.slice(0, 100) + "..."}
          />
        </div>
      </div>
      <div class="mt-auto lg:mb-4 w-full">
        <ul
          class="flex gap-x-2 sm:gap-x-4 items-center gap-y-2 mt-auto flex-wrap text-sm lg:text-base"
        >
          {
            highlights.map((item) => {
              const Icon = item.icon;
              return (
                <li class="flex items-center gap-x-2 rounded-full bg-gray-100 px-3 py-1 ring-1 ring-gray-200 uppercase font-bold text-[10px] tracking-widest text-gray-600">
                  <Icon className="h-5 w-5 text-gray-900" />
                  <span class="text-gray-900">{item.value}</span>
                </li>
              );
            })
          }
        </ul>
      </div>
    </div>
  </a>
</li>
